body {
  background-color: #ccccccc0;
  background-attachment: fixed;
  background-size: contain;
}

.imagePre {
  width: 200px;
  height: 200px;
}

/*footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 0,85rem;
  background-color: #ffffff;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  color: rgb(55, 39, 97);
}
#copyright {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}


/**/

.navbar{
  padding: 0;
 }
  .navbar .navbar-nav .nav-link{
    padding: 1em;
  }
 .navbar .navbar-nav .nav-item{
  position: relative;
 }

 .navbar .navbar-nav .nav-item::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color:rgb(150, 28, 128) ;
  width: 0;
  margin: 0 auto;
  height: 4px;
  transition: all .5s;
 }
 .navbar .navbar-nav .nav-item:hover::after{
  width: 100%;
 }
 .navbar-dark .navbar-nav .nav-link {
  color: rgb(25, 24, 24);
}

.navbar-dark .navbar-brand {
  color: rgb(25, 24, 24);
}


@media screen and (min-width: 992px){
  .navbar{
  padding: 0;
 }
 .navbar .navbar-nav .nav-link{
  padding: 1em 0;
 }
 .navbar .navbar-nav .nav-item{
  margin: 0 1em;
 }
 }


/*Cartas*/

/* Estilos para el contenedor principal de la tarjeta */
.card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: #919191c0;
  border-radius: 10%;
  margin: 5px;
 
}

/* Estilos para el contenedor de la imagen */
.image-container {
  flex: 1;
  overflow: hidden;
}

/* Estilos para la imagen */
.card-image {
  width: 100%;
  height: auto;
}

/* Estilos para el contenedor de texto */
.text-container {
  text-align: center;
  padding: 10px;
}

/* Estilos para el nombre de la tarjeta */
.card-name {

  margin: 0;
}



/* Estilos para el contenedor oscuro */
.dark-container {
  background-color: #5b5b5bc0; 
  border-radius: 10px; 
  padding: 20px; 
  max-width: 60%; 
  margin: 50px auto;
  margin-bottom: 100px;
}

/* Estilos para el contenedor flex en el centro */
.container-sm {
  display: flex;
  flex-direction: column;
}

.container-sm .row {
  margin: 0; 
}


/* PAGINATOR */

/* Estilos para el contenedor principal de paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

/* Estilos para cada elemento de la paginación */
.pagination-item {
  margin:  50px;
}

/* Estilos para los enlaces "Anterior" y "Siguiente" */
.pagination-link {
  text-decoration: none;
  color: #333; 
  padding: 5px 10px;
  border: 1px solid #ffffff; 
  border-radius: 5px; 
  margin: 20px;
}

/* Estilos para el enlace "Anterior" cuando está desactivado */
.pagination-link[aria-disabled="true"] {
  color: #aaa; 
  cursor: not-allowed;
}

/* Estilos para el enlace "Siguiente" cuando está desactivado */
.pagination-link[aria-disabled="true"]:last-child {
  color: #aaa;
  cursor: not-allowed;
}

/* Estilos para el enlace activo */
.pagination-active {
  background-color: #ffffff; 
  color: #000000; 
  
}




/*////////////////// ADMIN BOARD ///////////////*/

.admin-board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0;

}
.contenedor-creacion-pack {

  height: 300px;

  background-color: #9d989d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px; /* Añadido un margen para separar los divs */
}

.contenedor-creacion-pack:hover {
  background-color: #3498db;
  color: #fff;
}

.contenedor-creacion-pack:active {
  transform: scale(0.95);
}

.texto-creacion-pack {
  font-size: 18px;
  font-weight: bold;
}